<%- include('partials/header') -%>
    <main class="container" style="width: 50%;">
        <div class="    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:2em;">
            <a href="/login"> Login</a>
            <a href="/signup"> Signup</a>

        </div>
    </main>

    <%- include('partials/footer') -%>