<link rel="stylesheet" href="/css/layout.css">
<footer class="footer-bar">
    <ul class="footer-links">
        <li><a href="/student/home">Home</a></li>
        <li><a href="/student/missions">Missions</a></li>
        <li><a href="/student/grades">Grades</a></li>
        <!-- <li><a href="/library">Library</a></li> -->
        <li><a href="/profile">Profile</a></li>
    </ul>
    <div class="copyright">© 2025 IlmQuest • Empowering the Next Generation of Learners</div>
</footer>
