<link rel="stylesheet" href="/css/layout.css">
<footer class="footer-bar">
  <ul class="footer-links">
    <li><a href="/teacher/home"><i class="fa fa-home"></i> Home</a></li>
    <li><a href="/teacher/manage-missions"><i class="fa fa-bullseye"></i> Missions</a></li>
    <li><a href="/teacher/manage-grades"><i class="fa fa-clipboard"></i> Grades</a></li>
    <li><a href="/teacher/manage-attendance"><i class="fa fa-calendar-check-o"></i> Attendance</a></li>
    <li><a href="/profile"><i class="fa fa-user"></i> Profile</a></li>
  </ul>
  <div class="copyright">© 2025 IlmQuest • Empowering the Next Generation of Learners</div>
</footer>
