<%- include('partials/inHeader') -%>
<main>
    <h1>My Grades</h1>
    <!-- first display is the users current infromation like image, grade level, class, and current surah and age and program -->
    <!-- second banner is for user current gpa -->
    <!-- section is for  specific classes/subjects and their repective grades should include midterm, final and any assignments or alerts from teacher-->
    <!-- final banner is a detailed breakdown with drop down options that show the user exact grades and assignemtns that were completed and date of completion -->
</main>
<%- include('partials/inFooter') -%>
