<%- include('partials/inHeader') -%>
<main>
    <h1>My Missions</h1>
    <!-- include current user rank and  current points and current year-->
     
    <!-- Banner for the mission categories to allow filtering for user selection filters will include ranks as well -->
    <!-- display missions and allow user to select -->
    <!-- live missions vs pending missions -->
    <!-- live missions are missions they are currently working on -->
    <!-- pending missions are missions waiting to be approved and upon approval they will earn their points -->
    <!-- have a leaderboard button that takes them to the leaderboard page  -->
</main>
<%- include('partials/inFooter') -%>
