<%- include('partials/inHeader') -%>
<main>
    <h1>My Library</h1>
    <!-- displays any images or url links or audio files for students to 
     use as a resource -->

    <!-- Box for Audio Files -->
    <!-- box for visual Files -->
    <!-- box for books or pdfs -->
    <!-- box for url links -->
</main>
<%- include('partials/inFooter') -%>
