* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

header,
footer {
    width: 100%;
    height: 100px;
    border: 1px solid;
}

header {
    display: flex;
    height: 50px;
    justify-content: space-between;
}

aside {
    height: 500px;
    border: 1px solid;
    padding: 1rem;
}

header nav {
    border: 1px solid;
    height: 100%;
    width: 10em;
}

 /* used claude to make the burger */
header {
    nav {
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
        position: relative;
    }

    /* Hamburger icon */
    nav::before {
        content: '';
        display: block;
        width: 30px;
        height: 3px;
        background-color: #333;
        box-shadow:
            0 8px 0 #333,
            0 16px 0 #333;
        cursor: pointer;
        margin: 10px;
        transition: all 0.1s ease;
    }

    /* Hide the menu by default on mobile */
    nav ul {
        display: none;
        width: 100%;
        flex-basis: 100%;
    }

    /* Show menu when nav is focused/active */
    nav:focus-within ul,
    nav:hover ul {
        display: block;
    }

    nav ul li {
        margin-bottom: 0;
        width: 100%;
        text-align: right;
        padding: 0.5em;
        list-style: none;
    }

    nav ul li a {
        text-decoration: none;
        color: #333;
        display: block;
    }

    nav ul li a:hover {
        background-color: #f0f0f0;
    }
}





footer nav ul {
    display: flex;
    list-style: none;
    font-size: 3rem;
    justify-content: space-around;
    padding: 0 1em;
}

.top div {
    border: 1px solid;
    width: 100%;
    height: 200px;
}

.top,
.bottom {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
}

.bottom div {
    border: 1px solid green;
    width: 100%;
    height: 200px;
}

main {
    border: 1px solid;
    height: 1000px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

main h1 {
    text-align: center;
}

.top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.top div {
    border: 1px solid;
    background: #f4f4f4;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border-radius: 15px;
}

.bottom {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.bottom div {
    border: 1px solid green;
    background: #e0ffe0;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border-radius: 15px;
}

.bottom div+div {
    height: 150px;
}

aside {
    display: flex;
    flex-direction: column;
}

.updates div {
    border: 1px solid;
    border-radius: 15px;
    height: 390px;
    margin-top: 1em;
}

aside h2 {
    font-size: 3rem;
    padding-left: 2em;
}