/* * {
    box-sizing: border-box;
}

html {
    font-size: 65%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 800px;
    border: 1px solid;
    color: white;

}

header h1{
    border: 1px solid;
    font-size: 9rem;
    color: wheat;
} */

