<link rel="stylesheet" href="/css/layout.css">
<footer class="footer-bar">
    <ul class="footer-links">
        <li><a href="/admin/home">Home</a></li>
        <li><a href="/admin/users">Users</a></li>
        <li><a href="/admin/classes">Classes</a></li>
        <li><a href="/admin/communication">Communication</a></li>
        <li><a href="/profile">Profile</a></li>
    </ul>
    <div class="copyright">© 2025 IlmQuest • Empowering the Next Generation of Learners</div>
</footer>